{@pl.bzowski.symbol.SymbolViewModel vm}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Currency pairs</title>
</head>
<body>
<h1>Report</h1>
{#for pair in vm.pairs}
    <form method="post" action="/trader/{pair.symbol}" class="inline">
        <input type="checkbox" name="active" />
    <select name="period_code" id="period_code_id">
        {#for code in vm.periodCodes}
            <option value="{code}">{code}</option>
        {/for}
    </select>
        <button type="submit" name="submit_param" value="{pair.symbol}" class="link-button">
            {pair.symbol}
        </button>
    </form>
{/for}
</body>
</html>